<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item_de.title %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item_de.unit %>
</p>

<%= link_to 'Edit', edit_item_de_path(@item_de) %> |
<%= link_to 'Back', item_des_path %>
